<!DOCTYPE html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<html lang="">
    <head>
        <title>Graficador</title>
        <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    </head>
    <body>
        <h1>Tiempos en bodega</h1>
        <canvas id="myChart" width="200" height="80"></canvas>
        <script src="../static/horizontal_bar_graph.js"></script>
    </body>
</html>
